{% extends 'layout.html' %}

{% block body %}



    <div class="main_content">
        <div class="header">Covid Cases Dashboard</div>
        <div class="info">

            <div class="data d-inline-flex bd-highlight">

                <canvas id="topcasesbyregion" width="500" height="400"></canvas>
            </div>
            <div class="data d-inline-flex bd-highlight">

                <canvas id="casesbycontinent" width="500" height="400"></canvas>
            </div>
            <div class="data d-inline-flex bd-highlight">

                <canvas id="casesbycountry" width="500" height="400"></canvas>
            </div>
        </div>
    </div>

{% endblock %}
