<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Corona Virus Analysis</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--<script src="{{url_for('static', filename='js/script.js')}}"></script>-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/fdb9b892ae.js" crossorigin="anonymous"></script>
    <!--<script type="text/javascript" src="../node_modules/chart.js/dist/Chart.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
  </head>
  <body>
<div class="wrapper">
    <div class="sidebar">
        <h2>Covid-19</h2>
        <ul>
            <li><a href="{{ url_for('home') }}"><i class="fas fa-home"></i>Home</a></li>
            <li><a href="{{ url_for('covidcases') }}"><i class="fas fa-thermometer-full"></i>Covid Cases</a></li>
            <li><a href="{{ url_for('vaccination') }}"><i class="fas fa-tint"></i>Vaccination</a></li>
            <li><a href="{{ url_for('tweet') }}"><i class="fab fa-twitter"></i>    Tweet Sentiments</a></li>
            <li><a href="{{ url_for('home') }}"><i class="fas fa-user"></i>Team</a></li>
        </ul>

    </div>
    {% block body %} {% endblock %}

    </div>

    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>

       d3.csv('static/csv/vaccinationincome.csv').then(makeVacIncome);
        function makeVacIncome(country) {
            /* JavaScript’s .map() function to convert the array of objects into an array of player names and an array of weeks. We created a bar chart using Chart.js and used these two arrays to set the player labels and bar lengths.*/
            //get all the x axis (u can get this from the csv col name)
            var countryNames = country.map(function(d) {return d.Income});
            //then get all the y axis
            var countryConfirmed = country.map(function(d) {return d.VaccinationAverage});
            //if want to highlight the bar colour
            var countryColors = country.map(function(d) {return d.Confirmed > 30000 ? '#F15F36' : '#19A0AA';});

            var chart = new Chart('vaccinationbyincome', {
                type: 'horizontalBar',
                options: {
                  maintainAspectRatio: false,
                  legend: {
                    display: false
                  },
                  scales: {
                    xAxes: [
                      {
                      }
                    ]
                  }
                },
                data: {
                  labels: countryNames,
                  datasets: [
                    {
                      data: countryConfirmed,
                      backgroundColor: countryColors
                    }
                  ]
                }
            })
        }


        d3.csv('static/csv/vaccinationbyregion.csv').then(makevacregion);
        function makevacregion(country) {

            var countryNames = country.map(function(d) {return d.Country});

            var countryConfirmed = country.map(function(d) {return d.VaccinationRate});

            var countryColors = country.map(function(d) {return d.VaccinationRate > 10 ? '#F15F36' : '#19A0AA';});

            var chart = new Chart('vaccinationbyregion', {
                type: 'horizontalBar',
                options: {
                  maintainAspectRatio: false,

                  legend: {
                    display: false
                  },
                  scales: {
                    xAxes: [
                      {
                      }
                    ]
                  }
                },
                data: {
                  labels: countryNames,
                  datasets: [
                    {
                      data: countryConfirmed,
                      backgroundColor: countryColors
                    }
                  ]
                }
            })
        }

        d3.csv('static/csv/topcasesbyregion.csv').then(maketopcases);

        function maketopcases(country) {

            var countryNames = country.map(function(d) {return d.Country});
            var countryConfirmed = country.map(function(d) {return d.Cases});

            var countryColors = country.map(function(d) {return d.Cases > 10 ? '#F15F36' : '#19A0AA';});
            console.log(countryConfirmed);
            var oilData = {
                labels: countryNames,
                datasets: [
                    {
                        data: [133.3, 86.2, 52.2, 51.2, 50.2],
                        backgroundColor: countryColors
                    }]
        };

        var topcaseschart = document.getElementById("topcasesbyregion");
        var pieChart = new Chart(topcaseschart, {
          type: 'pie',
          data: oilData
        });
        }

    </script> 
  </body>
</html>