{% extends 'layout.html' %}

{% block body %}
<body>

<div class="main_content">
        <div class="header">Tweet Sentiment Analysis</div>
        <div class="info">
            <div class="data d-inline-flex bd-highlight">
                <h2>Keyword Sentiment %</h2>
                <br>
                <canvas id="keywordchart" width="300" height="300"></canvas>

            </div>

            <div class="data d-inline-flex bd-highlight">
                <h2>Scrapped Tweets</h2>
                <div class="tablebody">

                </div>
            </div>
        </div>
    </div>



</body>
{% endblock %}
