{% extends 'layout.html' %}

{% block body %}
<body>
<div class="main_content">
        <div class="header">Vaccination Analysis Dashboard</div>
        <div class="info">

            <div class="data d-inline-flex bd-highlight">

                <canvas id="vaccinationbyincome" width="500" height="400"></canvas>
            </div>
            <div class="data d-inline-flex bd-highlight">

                <canvas id="vaccinationbyregion" width="500" height="400"></canvas>
            </div>


        </div>
    </div>
</body>
{% endblock %}